<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация студента</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            max-width: 600px;
        }

        .card {
            background-color: #ffffff;
            border: none;
            border-radius: 10px;
        }

        h1 {
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
        }

        .form-control {
            border-radius: 5px;
        }

        .form-control::placeholder {
            color: #6c757d;
            font-style: italic;
        }

        .btn-primary, .btn-secondary {
            border-radius: 5px;
            transition: background-color 0.3s, border-color 0.3s;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }

        .btn-secondary {
            background-color: #6c757d;
            border-color: #6c757d;
        }

        .btn-secondary:hover {
            background-color: #5a6268;
            border-color: #545b62;
        }

        .btn-block + .btn-block {
            margin-top: 10px;
        }

        .d-none {
            display: none;
        }

        /* Стили для контейнера пароля с иконкой глаза */
        .password-container {
            position: relative;
            display: flex;
            align-items: center;
        }

        .password-container input {
            flex: 1;
            padding-right: 40px; /* Пространство для иконки */
        }

        .password-toggle {
            position: absolute;
            right: 10px;
            cursor: pointer;
            width: 24px;
            height: 24px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background: transparent;
            box-sizing: content-box;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .password-toggle:hover {
            border-color: #999;
        }

        .password-toggle:active {
            border-color: #666;
        }

        @media (max-width: 768px) {
            .container {
                padding: 15px;
            }

            .card {
                padding: 15px;
            }

            .form-group {
                margin-bottom: 15px;
            }

            .btn-block {
                width: 100%;
            }

            .title-center {
                font-size: 28px;
                text-align: center;
            }
        }
    </style>
    <script>
        const institutesCaptains = {{ institutes_captains | tojson }};

        // Функция для форматирования ФИО
        function capitalizeName() {
            const nameField = document.getElementById('full_name');
            let nameValue = nameField.value.trim();

            // Разделяем на части по пробелам и дефисам, включая разделители в результат
            let parts = nameValue.split(/([-\s])/);

            // Применяем капитилизацию к каждой части, которая не является разделителем
            for (let i = 0; i < parts.length; i++) {
                if (parts[i] !== '-' && parts[i] !== ' ') {
                    parts[i] = parts[i].charAt(0).toUpperCase() + parts[i].slice(1).toLowerCase();
                }
            }

            // Объединяем части обратно
            nameField.value = parts.join('');
        }

        function updateCaptains() {
            const institute = document.getElementById('institute').value;
            const captainsSelect = document.getElementById('captain_id');
            captainsSelect.innerHTML = '';

            if (institutesCaptains[institute]) {
                institutesCaptains[institute].forEach(captain => {
                    const option = document.createElement('option');
                    option.value = captain.id;
                    option.text = captain.full_name;
                    captainsSelect.appendChild(option);
                });
            }

            updateGroupAndDates();
        }

        function updateGroupAndDates() {
            const captainId = document.getElementById('captain_id').value;
            let selectedCaptain;
            Object.values(institutesCaptains).forEach(captains => {
                const captain = captains.find(captain => captain.id == captainId);
                if (captain) {
                    selectedCaptain = captain;
                }
            });

            if (selectedCaptain) {
                document.getElementById('group').value = selectedCaptain.group;
                document.getElementById('start_date').value = selectedCaptain.start_date;
                document.getElementById('end_date').value = selectedCaptain.end_date;
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('institute').addEventListener('change', updateCaptains);
            document.getElementById('captain_id').addEventListener('change', updateGroupAndDates);
            updateCaptains();
        });

        // Обработчик для переключения видимости пароля
        document.addEventListener('DOMContentLoaded', function () {
            const togglePassword = document.getElementById('togglePassword');
            const passwordField = document.getElementById('password');

            togglePassword.addEventListener('click', function () {
                if (passwordField.type === 'password') {
                    passwordField.type = 'text';
                    togglePassword.innerHTML = `
                        <svg width="16" height="16" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
                             fill="none" stroke="gray" stroke-width="2">
                            <path d="M13.673,10.345l-3.097,3.096l39.853,39.854l3.097,-3.097l-39.853,-39.853Z"/>
                            <path d="M17.119,19.984l2.915,2.915c-3.191,2.717 -5.732,6.099 -7.374,9.058l-0.005,0.01c4.573,7.646 11.829,14.872 20.987,13.776c2.472,-0.296 4.778,-1.141 6.885,-2.35l2.951,2.95c-4.107,2.636 -8.815,4.032 -13.916,3.342c-9.198,-1.244 -16.719,-8.788 -21.46,-17.648c2.226,-4.479 5.271,-8.764 9.017,-12.053Zm6.63,-4.32c2.572,-1.146 5.355,-1.82 8.327,-1.868c0.165,-0.001 2.124,0.092 3.012,0.238c0.557,0.092 1.112,0.207 1.659,0.35c8.725,2.273 15.189,9.649 19.253,17.248c-1.705,3.443 -3.938,6.803 -6.601,9.682l-2.827,-2.827c1.967,-2.12 3.607,-4.48 4.87,-6.769c0,0 -1.27,-2.042 -2.233,-3.324c-0.619,-0.824 -1.27,-1.624 -1.954,-2.395c-0.54,-0.608 -2.637,-2.673 -3.136,-3.103c-3.348,-2.879 -7.279,-5.138 -11.994,-5.1c-1.826,0.029 -3.582,0.389 -5.249,0.995l-3.127,-3.127Z"/>
                            <path d="M25.054,27.92l2.399,2.398c-0.157,0.477 -0.243,0.987 -0.243,1.516c0,2.672 2.169,4.841 4.841,4.841c0.529,0 1.039,-0.085 1.516,-0.243l2.399,2.399c-1.158,0.65 -2.494,1.02 -3.915,1.02c-4.425,0 -8.017,-3.592 -8.017,-8.017c0,-1.421 0.371,-2.756 1.02,-3.914Zm6.849,-4.101c0.049,-0.001 0.099,-0.002 0.148,-0.002c4.425,0 8.017,3.593 8.017,8.017c0,0.05 0,0.099 -0.001,0.148l-8.164,-8.163Z"/>
                        </svg>
                    `;
                } else {
                    passwordField.type = 'password';
                    togglePassword.innerHTML = `
                        <svg width="16" height="16" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
                             fill="none" stroke="gray" stroke-width="2">
                            <path d="M32.513,13.926c10.574,0.15 19.249,9.657 23.594,17.837c0,0 -1.529,3.129 -2.963,5.132c-0.694,0.969 -1.424,1.913 -2.191,2.826c-0.547,0.65 -1.112,1.283 -1.698,1.898c-5.237,5.5 -12.758,9.603 -20.7,8.01c-8.823,-1.77 -16.02,-9.33 -20.346,-17.461c0,0 1.536,-3.132 2.978,-5.132c0.646,-0.897 1.324,-1.77 2.034,-2.617c0.544,-0.649 1.108,-1.282 1.691,-1.897c4.627,-4.876 10.564,-8.63 17.601,-8.596Zm-0.037,4c-5.89,-0.022 -10.788,3.267 -14.663,7.35c-0.527,0.555 -1.035,1.127 -1.527,1.713c-0.647,0.772 -1.265,1.569 -1.854,2.386c-0.589,0.816 -1.193,1.846 -1.672,2.721c3.814,6.409 9.539,12.198 16.582,13.611c6.563,1.317 12.688,-2.301 17.016,-6.846c0.529,-0.555 1.04,-1.128 1.534,-1.715c0.7,-0.833 1.366,-1.694 1.999,-2.579c0.586,-0.819 1.189,-1.851 1.667,-2.727c-3.958,-6.625 -10.73,-13.784 -19.082,-13.914Z"/>
                            <path d="M32.158,23.948c4.425,0 8.018,3.593 8.018,8.017c0,4.425 -3.593,8.017 -8.018,8.017c-4.424,0 -8.017,-3.592 -8.017,-8.017c0,-4.424 3.593,-8.017 8.017,-8.017Zm0,4.009c2.213,0 4.009,1.796 4.009,4.008c0,2.213 -1.796,4.009 -4.009,4.009c-2.212,0 -4.008,-1.796 -4.008,-4.009c0,-2.212 1.796,-4.008 4.008,-4.008Z"/>
                        </svg>
                    `;
                }
            });

            const toggleConfirmPassword = document.getElementById('toggleConfirmPassword');
            const confirmPasswordField = document.getElementById('confirm_password');

            toggleConfirmPassword.addEventListener('click', function () {
                if (confirmPasswordField.type === 'password') {
                    confirmPasswordField.type = 'text';
                    toggleConfirmPassword.innerHTML = `
                        <svg width="16" height="16" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
                             fill="none" stroke="gray" stroke-width="2">
                            <path d="M13.673,10.345l-3.097,3.096l39.853,39.854l3.097,-3.097l-39.853,-39.853Z"/>
                            <path d="M17.119,19.984l2.915,2.915c-3.191,2.717 -5.732,6.099 -7.374,9.058l-0.005,0.01c4.573,7.646 11.829,14.872 20.987,13.776c2.472,-0.296 4.778,-1.141 6.885,-2.35l2.951,2.95c-4.107,2.636 -8.815,4.032 -13.916,3.342c-9.198,-1.244 -16.719,-8.788 -21.46,-17.648c2.226,-4.479 5.271,-8.764 9.017,-12.053Zm6.63,-4.32c2.572,-1.146 5.355,-1.82 8.327,-1.868c0.165,-0.001 2.124,0.092 3.012,0.238c0.557,0.092 1.112,0.207 1.659,0.35c8.725,2.273 15.189,9.649 19.253,17.248c-1.705,3.443 -3.938,6.803 -6.601,9.682l-2.827,-2.827c1.967,-2.12 3.607,-4.48 4.87,-6.769c0,0 -1.27,-2.042 -2.233,-3.324c-0.619,-0.824 -1.27,-1.624 -1.954,-2.395c-0.54,-0.608 -2.637,-2.673 -3.136,-3.103c-3.348,-2.879 -7.279,-5.138 -11.994,-5.1c-1.826,0.029 -3.582,0.389 -5.249,0.995l-3.127,-3.127Z"/>
                            <path d="M25.054,27.92l2.399,2.398c-0.157,0.477 -0.243,0.987 -0.243,1.516c0,2.672 2.169,4.841 4.841,4.841c0.529,0 1.039,-0.085 1.516,-0.243l2.399,2.399c-1.158,0.65 -2.494,1.02 -3.915,1.02c-4.425,0 -8.017,-3.592 -8.017,-8.017c0,-1.421 0.371,-2.756 1.02,-3.914Zm6.849,-4.101c0.049,-0.001 0.099,-0.002 0.148,-0.002c4.425,0 8.017,3.593 8.017,8.017c0,0.05 0,0.099 -0.001,0.148l-8.164,-8.163Z"/>
                        </svg>
                    `;
                } else {
                    confirmPasswordField.type = 'password';
                    toggleConfirmPassword.innerHTML = `
                        <svg width="16" height="16" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
                             fill="none" stroke="gray" stroke-width="2">
                            <path d="M32.513,13.926c10.574,0.15 19.249,9.657 23.594,17.837c0,0 -1.529,3.129 -2.963,5.132c-0.694,0.969 -1.424,1.913 -2.191,2.826c-0.547,0.65 -1.112,1.283 -1.698,1.898c-5.237,5.5 -12.758,9.603 -20.7,8.01c-8.823,-1.77 -16.02,-9.33 -20.346,-17.461c0,0 1.536,-3.132 2.978,-5.132c0.646,-0.897 1.324,-1.77 2.034,-2.617c0.544,-0.649 1.108,-1.282 1.691,-1.897c4.627,-4.876 10.564,-8.63 17.601,-8.596Zm-0.037,4c-5.89,-0.022 -10.788,3.267 -14.663,7.35c-0.527,0.555 -1.035,1.127 -1.527,1.713c-0.647,0.772 -1.265,1.569 -1.854,2.386c-0.589,0.816 -1.193,1.846 -1.672,2.721c3.814,6.409 9.539,12.198 16.582,13.611c6.563,1.317 12.688,-2.301 17.016,-6.846c0.529,-0.555 1.04,-1.128 1.534,-1.715c0.7,-0.833 1.366,-1.694 1.999,-2.579c0.586,-0.819 1.189,-1.851 1.667,-2.727c-3.958,-6.625 -10.73,-13.784 -19.082,-13.914Z"/>
                            <path d="M32.158,23.948c4.425,0 8.018,3.593 8.018,8.017c0,4.425 -3.593,8.017 -8.018,8.017c-4.424,0 -8.017,-3.592 -8.017,-8.017c0,-4.424 3.593,-8.017 8.017,-8.017Zm0,4.009c2.213,0 4.009,1.796 4.009,4.008c0,2.213 -1.796,4.009 -4.009,4.009c-2.212,0 -4.008,-1.796 -4.008,-4.009c0,-2.212 1.796,-4.008 4.008,-4.008Z"/>
                        </svg>
                    `;
                }
            });
        });
    </script>
</head>
<body>
<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <h1 class="title-center">Регистрация</h1>
        {% if message %}
        <div class="alert alert-{{ message_type }}" role="alert">
            {{ message }}
        </div>
        {% endif %}
        <form method="post">
            <div class="form-group">
                <label for="full_name">Ваше ФИО <span style="color: #6c757d;">(Пример: Иванов Иван Иванович)</span></label>
                <input type="text" class="form-control" id="full_name" name="full_name" value="{{ full_name or '' }}" required onblur="capitalizeName()">
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ email or '' }}" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <div class="password-container">
                    <input type="password" class="form-control" id="password" name="password" required>
                    <span class="password-toggle" id="togglePassword">
                        <svg width="16" height="16" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
                             fill="none" stroke="gray" stroke-width="2">
                            <path d="M32.513,13.926c10.574,0.15 19.249,9.657 23.594,17.837c0,0 -1.529,3.129 -2.963,5.132c-0.694,0.969 -1.424,1.913 -2.191,2.826c-0.547,0.65 -1.112,1.283 -1.698,1.898c-5.237,5.5 -12.758,9.603 -20.7,8.01c-8.823,-1.77 -16.02,-9.33 -20.346,-17.461c0,0 1.536,-3.132 2.978,-5.132c0.646,-0.897 1.324,-1.77 2.034,-2.617c0.544,-0.649 1.108,-1.282 1.691,-1.897c4.627,-4.876 10.564,-8.63 17.601,-8.596Zm-0.037,4c-5.89,-0.022 -10.788,3.267 -14.663,7.35c-0.527,0.555 -1.035,1.127 -1.527,1.713c-0.647,0.772 -1.265,1.569 -1.854,2.386c-0.589,0.816 -1.193,1.846 -1.672,2.721c3.814,6.409 9.539,12.198 16.582,13.611c6.563,1.317 12.688,-2.301 17.016,-6.846c0.529,-0.555 1.04,-1.128 1.534,-1.715c0.7,-0.833 1.366,-1.694 1.999,-2.579c0.586,-0.819 1.189,-1.851 1.667,-2.727c-3.958,-6.625 -10.73,-13.784 -19.082,-13.914Z"/>
                            <path d="M32.158,23.948c4.425,0 8.018,3.593 8.018,8.017c0,4.425 -3.593,8.017 -8.018,8.017c-4.424,0 -8.017,-3.592 -8.017,-8.017c0,-4.424 3.593,-8.017 8.017,-8.017Zm0,4.009c2.213,0 4.009,1.796 4.009,4.008c0,2.213 -1.796,4.009 -4.009,4.009c-2.212,0 -4.008,-1.796 -4.008,-4.009c0,-2.212 1.796,-4.008 4.008,-4.008Z"/>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="confirm_password">Подтвердите пароль</label>
                <div class="password-container">
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                    <span class="password-toggle" id="toggleConfirmPassword">
                        <svg width="16" height="16" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
                             fill="none" stroke="gray" stroke-width="2">
                            <path d="M32.513,13.926c10.574,0.15 19.249,9.657 23.594,17.837c0,0 -1.529,3.129 -2.963,5.132c-0.694,0.969 -1.424,1.913 -2.191,2.826c-0.547,0.65 -1.112,1.283 -1.698,1.898c-5.237,5.5 -12.758,9.603 -20.7,8.01c-8.823,-1.77 -16.02,-9.33 -20.346,-17.461c0,0 1.536,-3.132 2.978,-5.132c0.646,-0.897 1.324,-1.77 2.034,-2.617c0.544,-0.649 1.108,-1.282 1.691,-1.897c4.627,-4.876 10.564,-8.63 17.601,-8.596Zm-0.037,4c-5.89,-0.022 -10.788,3.267 -14.663,7.35c-0.527,0.555 -1.035,1.127 -1.527,1.713c-0.647,0.772 -1.265,1.569 -1.854,2.386c-0.589,0.816 -1.193,1.846 -1.672,2.721c3.814,6.409 9.539,12.198 16.582,13.611c6.563,1.317 12.688,-2.301 17.016,-6.846c0.529,-0.555 1.04,-1.128 1.534,-1.715c0.7,-0.833 1.366,-1.694 1.999,-2.579c0.586,-0.819 1.189,-1.851 1.667,-2.727c-3.958,-6.625 -10.73,-13.784 -19.082,-13.914Z"/>
                            <path d="M32.158,23.948c4.425,0 8.018,3.593 8.018,8.017c0,4.425 -3.593,8.017 -8.018,8.017c-4.424,0 -8.017,-3.592 -8.017,-8.017c0,-4.424 3.593,-8.017 8.017,-8.017Zm0,4.009c2.213,0 4.009,1.796 4.009,4.008c0,2.213 -1.796,4.009 -4.009,4.009c-2.212,0 -4.008,-1.796 -4.008,-4.009c0,-2.212 1.796,-4.008 4.008,-4.008Z"/>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="institute">Институт</label>
                <select class="form-control" id="institute" name="institute" required>
                    <option value="institute_1" {% if institute == 'institute_1' %}selected{% endif %}>ВТШ «СПИ». Факультет информационных технологий</option>
                    <option value="institute_2" {% if institute == 'institute_2' %}selected{% endif %}>ВТШ «СПИ». Инженерный факультет</option>
                    <option value="institute_3" {% if institute == 'institute_3' %}selected{% endif %}>Институт ядерной энергии и промышленности</option>
                    <option value="institute_4" {% if institute == 'institute_4' %}selected{% endif %}>Юридический институт</option>
                    <option value="institute_5" {% if institute == 'institute_5' %}selected{% endif %}>Морской институт</option>
                    <option value="institute_6" {% if institute == 'institute_6' %}selected{% endif %}>Институт радиоэлектроники и интеллектуальных технических систем</option>
                    <option value="institute_7" {% if institute == 'institute_7' %}selected{% endif %}>Институт финансов, экономики и управления</option>
                    <option value="institute_8" {% if institute == 'institute_8' %}selected{% endif %}>Политехнический институт</option>
                    <option value="institute_9" {% if institute == 'institute_9' %}selected{% endif %}>Институт общественных наук и международных отношений</option>
                    <option value="institute_10" {% if institute == 'institute_10' %}selected{% endif %}>Гуманитарно-педагогический институт</option>
                    <option value="institute_11" {% if institute == 'institute_11' %}selected{% endif %}>Институт фундаментальной медицины и здоровьесбережения</option>
                    <option value="institute_12" {% if institute == 'institute_12' %}selected{% endif %}>Институт развития города</option>
                    <option value="institute_13" {% if institute == 'institute_13' %}selected{% endif %}>Институт перспективных исследований</option>
                </select>
            </div>
            <div class="form-group">
                <label for="captain_id">Выберите старосту</label>
                <select class="form-control" id="captain_id" name="captain_id" required>
                </select>
            </div>
            <div class="form-group hidden">
                <label for="group">Учебная группа</label>
                <input type="text" class="form-control" id="group" name="group" value="Без группы" readonly>
            </div>
            <div class="form-row hidden">
                <div class="form-group col-md-6">
                    <label for="start_date">Начало обучения</label>
                    <input type="date" class="form-control" id="start_date" name="start_date" readonly>
                </div>
                <div class="form-group col-md-6">
                    <label for="end_date">Конец обучения</label>
                    <input type="date" class="form-control" id="end_date" name="end_date" readonly>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-4">Зарегистрироваться</button>
            <a href="{{ url_for('index') }}" class="btn btn-secondary btn-block">Отменить</a>
        </form>
    </div>
</div>
</body>
</html>